{
    "{{ machine.name }}": {
        "arch": "{{ machine.arch }}",
        "cpu": "{{ machine.cpu }}",
        "machine": "{{ machine.name }}",
        "os": "{{ machine.os }}",
        "ram": "{{ machine.ram }}"
    },
    "version": 1
}
