#!/usr/bin/env bash

export PATH={{ miniconda_prefix }}/bin:$PATH

echo "Starting for {{ item.project }}"
source activate asv

echo "Updating benchmark repository"
cd /home/{{ ansible_user }}/{{ item.project }}/
git pull

echo "Running benchmarks"
asv --config=/home/{{ ansible_user }}/{{ item.project }}/{{ item.asv_config }} run NEW
asv --config=/home/{{ ansible_user }}/{{ item.project }}/{{ item.asv_config }} run EXISTING --skip-existing-successful
asv --config=/home/{{ ansible_user }}/{{ item.project }}/{{ item.asv_config }} gh-pages
