#!/usr/bin/env bash
# accept arguments for manually triggering a run
range=${1:-"NEW"}
steps=${2:-10}

export PATH={{ miniconda_prefix }}/bin:$PATH

echo "Starting for {{ item.project }}"
source activate asv

echo "Updating benchmark repository"
cd /home/{{ ansible_user }}/{{ item.project }}/
git pull

echo "Running benchmarks"
# initial run, to ensure we have at least one in the results set
asv --config=/home/{{ ansible_user }}/{{ item.project }}/{{ item.asv_config }} run HEAD~5..HEAD --skip-existing
asv --config=/home/{{ ansible_user }}/{{ item.project }}/{{ item.asv_config }} gh-pages --no-push --rewrite
